<div class="ui simple flyout">
  <i class="close icon"></i>
  <div class="ui header">
    <i class="question icon"></i>
    <div class="content">
      Archive Old Messages
    </div>
  </div>
  <div class="content">
    <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
  </div>
  <div class="actions">
    <div class="ui red cancel button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>

<div class="ui top position flyout">
  <div class="content" style="text-align: center;">I'm on top</div>
</div>

<div class="ui bottom position flyout">
  <div class="content" style="text-align: center;">I'm on bottom</div>
</div>

<div class="ui left position flyout">
  <div class="content">I'm on left</div>
</div>

<div class="ui right position flyout">
  <div class="content">I'm on right</div>
</div>

<div class="ui fullscreen flyout">
  <i class="close icon"></i>
  <div class="ui header">
    Fullscreen !
  </div>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel lorem nec purus tempus cursus. Ut consequat suscipit felis ac accumsan. Donec consequat venenatis ex nec fringilla. Vestibulum ac lectus non orci convallis efficitur eget non sem. Nunc tempus risus mi. Duis finibus, nunc ut dictum pretium, leo sapien luctus arcu, ac commodo augue leo et sem. Ut ut metus in turpis aliquam vestibulum. Aenean in tincidunt purus, ac consequat lacus. Nam iaculis enim eu arcu cursus, eu venenatis lacus posuere. Vivamus mattis pulvinar mi, sit amet lacinia purus ornare non. Fusce mattis magna libero. Curabitur a efficitur mauris. Morbi tempor at lectus nec gravida. Duis fermentum risus vel fringilla rhoncus. Maecenas consequat neque nibh, viverra tempor dolor semper quis.</p>
    <p>Ut efficitur lectus ac venenatis congue. Morbi sagittis massa sed arcu fringilla, sed consectetur purus pellentesque. Ut sed metus quam. Cras sit amet feugiat ipsum. Vestibulum sed diam porta, bibendum quam ac, pretium dui. Quisque iaculis gravida lorem, vitae maximus nunc bibendum in. Quisque eleifend purus mauris, non rhoncus lorem euismod eget. Suspendisse vehicula ante at ipsum posuere, id elementum leo finibus. Quisque sed mattis ipsum. Donec tincidunt, ex ac suscipit dignissim, massa justo efficitur nunc, at maximus sem lacus vel arcu. Fusce laoreet at erat eu tempus. Fusce condimentum ac purus a lacinia. Cras rhoncus accumsan diam, id tempus quam egestas quis. Praesent eget feugiat arcu. Proin mattis dignissim mi in feugiat.</p>
    <p>Vivamus hendrerit eleifend pharetra. Pellentesque nec maximus risus. In hac habitasse platea dictumst. Nulla sit amet ex sed risus imperdiet porta at ac odio. Suspendisse in fringilla risus, ac dapibus turpis. Cras pulvinar lorem in convallis mattis. Sed velit nisi, efficitur id hendrerit nec, imperdiet sit amet ante. Praesent est dui, finibus vel egestas dictum, dignissim quis nibh. Aliquam nisi ipsum, tempus vitae nulla non, posuere vulputate mi. Sed lobortis risus in neque vehicula, non tempor nulla lacinia. Cras non euismod ipsum.</p>
    <p>Duis sodales lobortis hendrerit. Fusce id nisi maximus lorem dapibus dignissim. Etiam sollicitudin maximus dapibus. Fusce aliquet massa dui, quis cursus tortor mattis sit amet. Morbi eu sagittis metus. Nunc et mi facilisis, venenatis urna a, euismod elit. Vivamus pulvinar nunc risus, sit amet sollicitudin diam elementum id. Cras ut ultrices lacus.</p>
    <p>Vestibulum et mi quis dolor ultrices maximus tincidunt ac nulla. Duis ex turpis, finibus ut volutpat ac, posuere nec mauris. Fusce vitae mollis orci. Suspendisse vitae vulputate nulla. In eu enim quis tortor euismod placerat. Nulla imperdiet tempor arcu, at molestie neque iaculis vitae. Phasellus sit amet interdum tellus. Duis ultrices rutrum felis, ac aliquet ante aliquam non. Mauris placerat tellus eu dolor tristique sodales.</p>
  </div>
  <div class="actions">
    <div class="ui red ok labeled icon button">
      <i class="check icon"></i>
      Done !
    </div>
  </div>
</div>

<div class="ui flyout" id="centerexample">
  <div class="ui center aligned header">Header is centered</div>
  <div class="center aligned content">
    <p>Content is centered</p>
  </div>
  <div class="center aligned actions">
    <button class="ui negative button">Cancel</button>
    <button class="ui positive button">OK</button>
  </div>
</div>

<div class="ui flyout" id="leftactionsexample">
  <div class="ui header">Look at the Actions</div>
  <div class="content">
    <p>They are aligned to the left</p>
  </div>
  <div class="left actions">
    <button class="ui negative button">Cancel</button>
    <button class="ui positive button">OK</button>
  </div>
</div>

<div class="ui flyout" id="basicheaderactionsexample">
  <i class="close icon"></i>
  <div class="ui basic header">Basic Header</div>
  <div class="content">
    <p>Basic actions below</p>
  </div>
  <div class="basic actions">
    <button class="ui negative button">Cancel</button>
    <button class="ui positive button">OK</button>
  </div>
</div>
