<div class="ui vertical footer segment">
  <div class="ui container">
    <div class="ui stackable grid">
      <div class="six wide column">
        <h4 class="ui header">Community</h4>
        <div class="ui horizontal link list">
          <a class="item" href="https://github.com/fomantic/Fomantic-UI/issues" target="_blank">Submit an Issue</a>
          <a class="item" href="https://github.com/fomantic/Fomantic-UI" target="_blank">GitHub Repo</a>
          <a class="item" href="https://discordapp.com/invite/UgzHNZF" target="_blank">Discord</a>
          <a class="item" href="https://twitter.com/fomanticui" target="_blank">Twitter</a>
        </div>
      </div>
      <div class="ten wide column">
        <a href="https://www.browserstack.com" target="_blank">
          <img class="ui right floated image" src="/images/browserstack.svg" alt="BrowserStack">
        </a>
      </div>
    </div>
    <div class="ui section divider"></div>
    <img src="/images/logo.png" class="ui right floated mini image">
    <div class="ui horizontal small divided link list">
      <a class="item" href="http://fomantic-ui.mit-license.org/" target="_blank">Free & Open Source (MIT)</a>
    </div>
  </div>
</div>
