<footer class="ui vertical footer segment">
  <div class="ui container">
    <div class="ui stackable grid">
      <div class="three wide column">
        <h4 class="ui header">Community</h4>
        <div class="ui link list">
          <a class="item" href="https://github.com/fomantic/Fomantic-UI/issues/new/choose" target="_blank">
            <i class="edit icon"></i>
            Submit an Issue
          </a>
          <a class="item" href="https://github.com/fomantic/Fomantic-UI" target="_blank">
            <i class="github icon"></i>
            GitHub Repository
          </a>
          <a class="item" href="https://discordapp.com/invite/UgzHNZF" target="_blank">
            <i class="discord icon"></i>
            Discord
          </a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui header">Social</h4>
        <div class="ui link list">
          <a class="item" href="https://twitter.com/fomanticui" target="_blank">
            <i class="twitter icon"></i>
            Twitter
          </a>
          <a class="item" href="https://medium.com/@fomantic" target="_blank">
            <i class="medium icon"></i>
            Medium
          </a>
        </div>
      </div>
      <div class="four wide middle aligned right floated column" style="text-align: center;">
        <a href="https://www.browserstack.com" target="_blank">
          <p>Cross-browser testing provided by</p>
          <img class="ui image" style="display: inline-block;" src="/images/browserstack.svg" alt="BrowserStack">
        </a>
      </div>
      <div class="four wide middle aligned right floated column" style="text-align: center;">
        <a href="https://jetbrains.com?from=Fomantic-UI" target="_blank" style="display: inline-block;">
          <img class="ui avatar image" style="height: 50px; width: auto;" src="/images/jetbrains.svg" alt="JetBrains">
          <span>IDE's provided by JetBrains</span>
        </a>
      </div>
    </div>
    <div class="ui section divider"></div>
    <img src="/images/logo.png" class="ui right floated mini image">
    <div class="ui horizontal small divided link list">
      <a class="item" href="https://github.com/fomantic/Fomantic-UI/blob/master/LICENSE.md" target="_blank">Free & Open Source (MIT)</a>
    </div>
  </div>
  
  <div id="codefund"></div>
  <script src="https://app.codefund.io/properties/728/funder.js" async></script>
</footer>
